[submodule "services/api"]
	path = services/api
	url = https://github.com/andcast77/multisystem-api.git

[submodule "modules/shopflow"]
	path = modules/shopflow
	url = https://github.com/andcast77/multisystem-shopflow.git

[submodule "modules/workify"]
	path = modules/workify
	url = https://github.com/andcast77/multisystem-workify.git
[submodule "services/database"]
	path = services/database
	url = https://github.com/andcast77/multisystem-database.git
